{% extends 'base.html' %} 
{% block title %}
explorers | About
{{profile.user.first_name}}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="page-top">
    <div class="top flex">
      <div class="page-name">
        <!-- For future implementation -->
        <!--<a href="" class="learn">
        <span class="material-icons"> keyboard_return </span> Go back
        </a> -->
        <h1>About</h1>
      </div>
    </div>
  </div>
</div>
<div>
  <section class="sp">
    <div class="container">
      <h2>e p i s t e m o l o g y _</h2>
      <br>
      <p>{{website_info.about}}</p>
    </div>
  </section>
</div>
{% endblock content %}
