{% extends 'base.html' %}
{% block title %}explorers | Posts{{profile.user.first_name}}{% endblock title %}

{% block content %}
  <div class="container">
    <div class="page-top">
      <div class="top flex">
        <div class="page-name">
          <!-- For future implementation -->
          <!--<a href="" class="learn">
          <span class="material-icons"> keyboard_return </span> Go back
          </a> -->
          <h1>Posts</h1>
        </div>
      </div>
    </div>
  </div>
<section class="sp">
  <div class="container">
    <h2>“...the universe is not only stranger than we imagine, it is stranger than we can imagine.”</h2>
    <div class="blog-tags">
      {% for post in all_posts  %}
      <p class="tag">
        <a style="color: white" href="{% url 'post_page' post.slug %}">{{post.title}}</a>
      </p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
