{% extends 'base.html' %}
{% block title %} explorers | for the curious minds {% endblock title %}
{% load static %}

{% block content %}
<div class="container">
  <div class="comment-box">
    <form method="POST">
      <p>Are you sure you want to delete this comment ?</p>
      {% csrf_token%} {{form.content}}
      <div class="grid-3">
        <input type="hidden" name="post_id" value="{{post.id}}">
      </div>
      <a href="{% url 'post_page' post.slug %}" class="btn-like">Cancel</a>
      <button class="btn-like">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
