{% extends 'base.html' %} {% block title %}explorers | for the curious minds
{% endblock title %} {% load static %} {% block content%}
<body>
  <div class="container">
    <div class="layout">
      <!-- left layout -->
      <div class="left">
        <div class="page-top">
          <div class="top flex">
            <div class="page-name">
              <a href="#" class="learn">
                <span class="material-icons"> keyboard_return </span> Go back
              </a>
              <h1>_for the curious minds</h1>
            </div>
          </div>
        </div>

        <div>
          <div class="typo">
            <h1 class="title blog-title">{{post.title}}</h1>
            <div class="timeline">
              <div class="track">
                <i class="uil uil-clock"></i>
                <p class="time">{{post.last_updated|date}}</p>
              </div>
              <div class="track">
                <i class="uil uil-users-alt"></i>
                <p class="view-count">
                  {{post.view_count}} view{{post.view_count|pluralize}}
                </p>
              </div>
              <div class="track">
                <form action="" method="POST">
                  <button type="submit" class="btn btn-info">
                    <i class="uil uil-bookmark-full"></i>
                    <p class="bookmark">Bookmark</p>
                    <!-- REMOVE BOOKMARK
                            <i class="fa-solid fa-bookmark"></i> -->
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <section class="mt">
          <div class="container">
            <!-- blog post -->
            <div class="blog-post">
              <div class="post-img blog-img">
                <img src="{{post.image.url}}" alt="" />
              </div>
              <div class="blog-post-content">
                <p>{{post.content|safe}}</p>
                <div class="blog-tags">
                  {% for tag in post.tags.all %}
                  <a href="{% url 'tag_page' tag.slug %}" class="tag"
                    >{{tag.name}}</a
                  >
                  {% endfor %}
                </div>
                <div class="social-share">
                  <div class="reactions">
                    <div class="likes">
                      <i class="uil uil-heart"></i> <span>200</span>
                    </div>
                    <div class="total-comments">
                      <i class="uil uil-comment-alt"></i>
                      <span>10</span>
                    </div>
                  </div>
                  <div class="share">
                    <div class="social">
                      <a href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                      <a href="#">
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                      <a href="#">
                        <i class="fa-brands fa-linkedin-in"></i>
                      </a>
                      <a href="#">
                        <i class="fa-brands fa-twitter"></i>
                      </a>
                    </div>
                  </div>
                </div>
                {% for comment in comments %}
                <!-- comments -->
                <div class="user-comment">
                  <div class="author">
                    <div class="profile-pic">
                      <img src="{% static 'images/author.svg' %}" alt="" />
                    </div>
                    <div class="details">
                      <p>{{comment.name}}</p>
                      <small>{{comment.date|date}}</small>
                    </div>
                  </div>
                  <div class="comment-sec-main">
                    <div class="comment-sec">
                      <div class="comment">
                        <p>{{comment.content}}</p>
                      </div>
                      {% if user.is_authenticated %}
                      <div class="reply">
                        <button onclick="toggleDiv(this)">Reply</button>
                      </div>
                      <div class="comment-box" id="comment-reply-box">
                        <h3>Reply to post</h3>
                        <p>
                          Your email address will not be published. Required
                          fields are marked<span>*</span>
                        </p>
                        <form method="POST">
                          {% csrf_token %} {{form.content}}
                          <div class="grid-3">
                            <input
                              type="hidden"
                              name="post_id"
                              value="{{post.id}}"
                            />
                            <input
                              type="hidden"
                              name="parent"
                              value="{{comment.id}}"
                            />
                          </div>
                          <button class="btn btn-primary rounded">
                            Post Reply
                          </button>
                        </form>
                        {% endif %}
                      </div>
                    </div>

                    {% for reply in comment.replies.all %}
                    <div class="public-reply">
                      <div class="author">
                        <div class="profile-pic">
                          <img src="{% static 'images/author.svg' %}" alt="" />
                        </div>
                        <div class="details">
                          <p>{{reply.name}}</p>
                          <small>{{reply.date|date}}</small>
                        </div>
                      </div>
                      <div class="comment">
                        <p>{{reply.content}}</p>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div>
                  <a href="{% url 'update_comment' comment.id %}">Update</a>
                <form
                  action="{% url 'delete_comment' comment.pk %}"
                  method="POST"
                >
                  {% csrf_token %}
                  <input
                    class="btn btn-primary rounded"
                    type="submit"
                    value="Delete"
                  />
                </form>
                <!-- user comment end -->
                {% endfor %}
              </div>
            </div>
            <div class="comment-box">
              {% if user.is_authenticated %}
              <h3>Leave a new comment to this post</h3>
              <p>
                Your email address will not be published. Required fields are
                marked<span>*</span>
              </p>
              <form method="POST">
                {% csrf_token %} {{form.content}}
                <div class="grid-3">
                  <input type="hidden" name="post_id" value="{{post.id}}" />
                </div>
                <button class="btn btn-primary rounded">Post comment</button>
              </form>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
      <!-- left layout end -->
    </div>
  </div>
</body>

{% endblock content%}
