{% extends 'base.html' %} {% block title %}explorers | for the curious minds
{% endblock title %} {% load static %} {% block content %}

<form method="POST">
  {% csrf_token %}
  {{form}}
  <div class="user-comment">
    <div class="author">
      <div class="profile-pic">
        <img src="{% static 'images/author.svg' %}" alt="" />
      </div>
      <div class="details">
        <p>{{comment.name}}</p>
        <small>{{comment.date|date}}</small>
      </div>
    </div>
  <button class="btn btn-primary rounded" type="submit" value="Update">Post Update</button>
</form>
{% endblock %}
