<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/static/favicon/favicon.d774051043ae.ico">
    <link
      rel="stylesheet"
      href="https://res.cloudinary.com/dpdzis8e6/raw/upload/v1/static/css/style.a20f2a880cfa.css">
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/88549b4783.js"
      crossorigin="anonymous"
    ></script>

    <title>explorers | welcome</title>
  </head>

  <body>
    <header>
      <div class="container container-fluid">
        <a class="logo" href="/">
          <i class="fa-solid fa-users-between-lines"></i>
        </a>
        <div class="links">
          <a href="/">Home</a>
          <a href="/about/">About</a>
          <a href="/all_posts/">All Posts</a>

          <a href="/all_liked_posts/">Likes</a>
          <a href="/all_bookmarked_posts/">Bookmarks</a>
        </div>
        <div class="action-btn">
          <a href="/accounts/logout/" class="btn btn-secondary">Log Out</a>
        </div>
      </div>
    </header>
    <main>
      <main class="sp">
        <div class="container">
          <div>
            <div class="typo">
              <h1 class="title">e x p l o r e r s_</h1>

              <p>_for the curious minds!</p>
            </div>
            <div class="newsletter">
              <form method="POST">
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="m1wCMq5mgPZoC4vH58DQT2ZAoR6asnCBsgVLRPD74c6LjKlLv1aICRrKyYrc3d1j"
                />
                <tr>
                  <th></th>
                  <td>
                    <input
                      type="email"
                      name="email"
                      maxlength="100"
                      placeholder="Enter your Email"
                      required
                      id="id_email"
                    />
                  </td>
                </tr>
                <button class="btn btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </main>

      <section class="sp">
        <div class="container">
          <h1 class="sec-title">Top blogs</h1>
          <div class="grid-3">
            <!-- card -->
            <a href="/post/second">
              <div class="card">
                <div class="post-img">
                  <img
                    src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/piramids_space_hwrozk"
                    alt=""
                  />
                  <div class="tag">piramids</div>
                </div>
                <div class="card-content">
                  <h3>Second</h3>
                  <div class="author">
                    <div class="profile-pic">
                      <img src="images/author.svg" alt="" />
                    </div>
                    <div class="author">
                      <div class="profile-pic">
                        <img
                          src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/male_v84sco"
                          alt=""
                        />
                      </div>
                      <div class="details">
                        <p>Alexandru</p>
                        <small>Dec. 15, 2023</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <!-- card end-->

            <!-- card -->
            <a href="/post/first">
              <div class="card">
                <div class="post-img">
                  <img
                    src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/mountains_ksphee"
                    alt=""
                  />
                  <div class="tag">Tag</div>
                </div>
                <div class="card-content">
                  <h3>First</h3>
                  <div class="author">
                    <div class="profile-pic">
                      <img src="images/author.svg" alt="" />
                    </div>
                    <div class="author">
                      <div class="profile-pic">
                        <img
                          src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/male_v84sco"
                          alt=""
                        />
                      </div>
                      <div class="details">
                        <p>Alexandru</p>
                        <small>Dec. 15, 2023</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <!-- card end-->
          </div>
          <div>
            <a href="/all_posts/"
              ><button class="btn btn-primary rounded view">
                View more
              </button></a
            >
          </div>
        </div>
      </section>
      <section class="sp">
        <div class="container">
          <h1 class="sec-title">New blogs</h1>
          <div class="grid-3">
            <!-- card -->
            <a href="/post/first">
              <div class="card">
                <div class="post-img">
                  <img
                    src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/mountains_ksphee"
                    alt=""
                  />
                  <div class="tag">Tag</div>
                </div>
                <div class="card-content">
                  <h3>First</h3>
                  <div class="author">
                    <div class="profile-pic">
                      <img src="images/author.svg" alt="" />
                    </div>
                    <div class="author">
                      <div class="profile-pic">
                        <img
                          src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/male_v84sco"
                          alt=""
                        />
                      </div>
                      <div class="details">
                        <p>Alexandru</p>
                        <small>Dec. 15, 2023</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <!-- card end-->

            <!-- card -->
            <a href="/post/second">
              <div class="card">
                <div class="post-img">
                  <img
                    src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/piramids_space_hwrozk"
                    alt=""
                  />
                  <div class="tag">piramids</div>
                </div>
                <div class="card-content">
                  <h3>Second</h3>
                  <div class="author">
                    <div class="profile-pic">
                      <img src="images/author.svg" alt="" />
                    </div>
                    <div class="author">
                      <div class="profile-pic">
                        <img
                          src="https://res.cloudinary.com/dpdzis8e6/image/upload/v1/media/images/male_v84sco"
                          alt=""
                        />
                      </div>
                      <div class="details">
                        <p>Alexandru</p>
                        <small>Dec. 15, 2023</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <!-- card end-->
          </div>
          <div>
            <a href="/all_posts/"
              ><button class="btn btn-primary rounded view">
                View more
              </button></a
            >
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container">
        <div class="grid-4">
          <div class="logo f-logo">
            <i class="fa-solid fa-users-between-lines"></i>
          </div>
          <div class="link">
            <h2>Quick link</h2>
            <div class="q-link">
              <a href="/">Home</a>
              <a href="/about/">About</a>
              <a href="/all_posts/">All Posts</a>
            </div>
          </div>
          <div class="link">
            <h2>Favourites</h2>
            <div class="q-link">
              <a href="/all_liked_posts/">Likes</a>
              <a href="/all_bookmarked_posts/">Bookmarks</a>
            </div>
          </div>
          <div class="news-signup">
            <h2>Subscribe</h2>
            <div class="newsletter">
              <form method="POST">
                <input
                  type="hidden"
                  name="csrfmiddlewaretoken"
                  value="m1wCMq5mgPZoC4vH58DQT2ZAoR6asnCBsgVLRPD74c6LjKlLv1aICRrKyYrc3d1j"
                />
                <input
                  type="email"
                  name="email"
                  maxlength="100"
                  placeholder="Enter your email"
                  required=""
                  id="id_email1"
                  autocomplete="on"
                />
                <button class="btn btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="share">
          <div class="social">
            <a href="https://www.facebook.com" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com" target="_blank">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://res.cloudinary.com/dpdzis8e6/raw/upload/v1/static/js/script.20c794bcf400.js"
      id="url"
    ></script>
  </body>
</html>
